/*home*/

.home .col {
    padding: 3px 20px;
}

.datacontent:after {
    content: attr(data-content);
}

.posdetail .panel.button-bar {
    height: 44;
    position: absolute;
    bottom: 180px;
    top: auto;
}

.posdetail .panel.container {
    height: 180px;
    position: absolute;
    bottom: 0;
    top: auto;
    font-family: Helvetica Neue;
}



.posdetail .panel-container.info .last_price {
    font-size: 20px; 
    font-weight: 600;
}

.posdetail .panel-container.info .row {
    padding: 3px 0
}
.posdetail .panel-container.info .frame .row {
    padding: 2px 0
}
.posdetail .panel-container.info .col {
    height: 16px;
    line-height: 16px;
}
.posdetail .panel-container.info .frame .col {
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
}
.posdetail .panel-container.info .frame .col:nth-child(odd) {
    text-align: right; }
.posdetail .panel-container.info .frame .col:nth-child(even) {
    text-align: left; }

.posdetail .panel-container table tr{
    border-bottom: 1px solid #666;
}

.posdetail .panel-container table tr td{
    margin: 35px;
}

.posdetail .panel-container table tr th{
    vertical-align: middle;
}

.posdetail .panel-container.tools .frame.frame-left .row {
    height: 40px;
}

.posdetail .panel-container.tools .frame.frame-left .row .col input{
    width: 100%;
    text-align: right;
    background-color: black;
    color: white;
}

.posdetail div.numeric-keyboard-input {
    color: #fff;
    text-align: right; }

.posdetail .price-input {
    width: 100%;
    height: 32px;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    margin: 0 10px;
}

.posdetail .price-input > div {
    display: inline-block;
    line-height: 32px;
    width: 100%;
    font-weight: bold;
    padding-right: 6px;
    height: 32px;
}


.makeorder .price-input-group .price-input > div:nth-last-child(3),
.makeorder .price-input-group .price-input > div:nth-last-child(2) {
    border-left: 1px solid #fff; }
.makeorder .price-input-group .price-input > div:nth-last-child(1),
.makeorder .price-input-group .price-input > div:nth-last-child(2),
.makeorder .price-input-group .price-input > div:nth-last-child(3) {
    float: right; }

.makeorder .price-input-group .price-input button {
    color: #ff0;
    padding-top: 5px; }

/*number keyboard*/

.keyboard {
    position: fixed;
    z-index: 29;
    width: 100%;
}

.keyboard .keyboard-content table {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(201,205,211);
}

.keyboard .keyboard-content table tr {
    width: 100%;
}

.keyboard .keyboard-content table tr td {
    width: 25%;
    height: 45px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

.keyboard .keyboard-content table tr td button {
    font-size: 16px;
    font-weight: bold;
    padding: 0 8px;
    width: 90%;
    height: 90%;
    border: 0;
    background-color: #fff;
    border-radius: 8px;
    margin: 2px;
    box-shadow: 1px 1px 1px #666;
}

.keyboard .keyboard-content table tr td button.big {
    height: 90px;
}

.keyboard-clear {
    background-color: lightgray !important;
    color: white;
}

.keyboard-done {
    background-color: blue !important;
    color: white;
}

.keyboard-focus {
    border: 1px solid #c0c000;
}

/*transaction*/

.transaction .filter.button-bar {
    position: absolute;
    top: 0px;
}

.transaction .filter.button-bar .button {
    color: #ccc;
    font-size: 14px;
    border-radius: 0px;
    border-width: 0px;
}

.transaction .filter.button-bar .button.checked {
    color: #ff0;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-color: #ff0;
}

.transaction .list.all .item {
    visibility: visible;
}

.transaction .list.in .item.out {
    visibility: hidden;
}

.transaction .list.out .item.in {
    visibility: hidden;
}

/*banktransfer*/

.banktransfer .item-content-balance {
    height: 34px;
    line-height: 34px;
}

.banktransfer .row button {
    padding: 0px 20px;
}

.banktransfer .row {
    padding: 0px 0px;
}

.banktransfer .col {
    padding: 0px 5px;
}

/*userinfo*/

.userinfo ion-content {
    font-family: Helvetica Neue;
    font-size: 14px;
    color: #FFF;
}

.userinfo ion-content table {
    width: 100%;
    text-align: left;
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
}

.userinfo ion-content table td {
    width: 50%;
    padding: 1px 10px ;
}
.userinfo ion-content table td:last-child {
    text-align: right;
}

.userinfo ion-content table tr.border-top {
    border-top: 1px #666 solid;
}
.userinfo ion-content table tr.border-top td {
    padding-top: 8px;
}

.userinfo ion-content table tr.border-bottom {
    border-bottom: 1px #666 solid;
}
.userinfo ion-content table tr.border-bottom td {
    padding-bottom: 8px;
}

.userinfo .bar {
    position: relative;
}

/*quote*/

.qt_container {
    width: 100%;
    font-size: 14px;
    font-family: Helvetica Neue;
}

table.quote {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

table.quote thead {
    table-layout: fixed;
}

table.quote tbody {
    display: block;
    height: 800px;
    overflow-y: scroll;
}

table.quote tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

table.quote tr.odd:first-child {
    border-top: 1px solid #eee;
}

table.quote tr.even {
    border-bottom: 1px solid #eee;
}

table.quote tbody td {
    padding-right: 6px;
    text-align: right;
}

table.quote tbody td:first-child {
    text-align: center;
}

table.quote td {
    /*border-right: 1px solid #666;*/
    table-layout: fixed;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

table.quote td:after {
    content: attr(data-content);
}

table.quote td.r, table.quote td.R {
    color: #F00;
}

table.quote td.g, table.quote td.G {
    color: #0F0;
}

.qt_container div.products{
    position: absolute;
    min-width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(94, 94, 94);
}

.qt_container div.products span{
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

/*popup-other-pos*/

.popup-other-pos .item.BUY {
    background-color: #4F4149;
}

.popup-other-pos .item.SELL {
    background-color: #415F69;
}

.popup-other-pos .item .R {
    color: #F00;
}

.popup-other-pos .item .G {
    color: #0F0;
}

/*feedback*/

.feedback .item-input {
    padding: 5px 0px;
}

.feedback .item-input input {
    background-color: #ffffff;
}

.feedback .item-input textarea {
    height: 200px;
    background-color: #ffffff;
}

.popover .item-radio input+.radio-content .item-content {
    background: #fafafa;
}

.popover .item-radio input:checked+.radio-content .item-content {
    background: #26e1ed;
}

.siiimpleToast {
    position: absolute;
    padding: 14px 18px;
    min-width: 250px;
    z-index: 999999;
    border-radius: 2px;
    color: #fff;
    font-weight: 300;
    white-space: nowrap;
    user-select: none;
    opacity: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    transform: scale(0.5);
    transition: all 0.4s ease-out; }
    .siiimpleToast[data-state="default"] {
      background-color: #323232; }
    .siiimpleToast[data-state="success"] {
      background-color: #8BC34A; }
    .siiimpleToast[data-state="alert"] {
      background-color: #d93737; }
/* app-menu */

.app-menu .item {
    padding: 10px 6px 10px 42px;
    font-size: 14px;
}

.app-menu .item:first-child {
    margin-top: 40px;
}

.app-menu .item-icon-left .icon {
    left: 8px;
}

.app-menu .item-icon-left .icon, .item-icon-right .icon {
    font-size: 22px;
}

/* popover ins type */

.popover_ins_types .item-complex .item-content, 
.popover_ins_types .item-radio .item-content {
    padding: 8px 49px 8px 16px;
}

.popover_ins_types .item-radio .radio-icon {
    font-size: inherit;
}

.popover_ins_types.popover {
    top: 15%;
}

.popover_ins_types.popover .scroll-content {
    height: 276px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* settlement_confirm */
.settlement_confirm.popup-container .popup-body pre {
    font-family: Helvetica Neue;
    font-size: 10px;
    width: max-content;
}

.settlement_confirm.popup-container .popup {
    background-color: rgba(55, 55, 55, 1.0);
}