<ion-view view-title="银期转账">
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons nav-bar-left"></div>
        <h1 class="title">银期转账</h1>
        <div class="buttons nav-bar-right"></div>
    </ion-header-bar>
    <ion-content class="banktransfer">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">银行账号</div>
                <select id="bank_list">
                    <option ng-repeat="bank in banklist" id="{{bank.bank_id}}">{{ bank.bank_name }} {{ bank.bank_account }}</option>
                </select>
            </div>
            <div class="item item-input">
                <div class="input-label">银行卡密码</div>
                <input type="password" ng-model="query.bank_pass" placeholder="请输入密码">
            </div>
            <div class="item item-input">
                <div class="input-label">期货余额</div>
                <div class="item-content-balance">{{future_balance}}
                    <button class="button button-stable button-small" ng-click="query('FUTURE')">查询</button>
                </div>
            </div>
            <div class="item item-input">
                <div class="input-label">银行余额</div>
                <div class="item-content-balance">{{bank_balance}}
                    <button class="button button-stable button-small" ng-click="query('BANK')">查询</button>
                </div>
            </div>
            <div class="item item-input">
                <div class="input-label">转账金额</div>
                <input type="number" ng-model="query.transfer_amount" placeholder="请输入转账金额">
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-stable button-block" ng-click="transfer('IN')">银行转期货</button>
                    </div>
                    <div class="col">
                        <button class="button button-stable button-block" ng-click="transfer('OUT')">期货转银行</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
