<ion-view view-title="银期转账">
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons nav-bar-left"></div>
        <h1 class="title">银期转账</h1>
        <div class="buttons nav-bar-right"></div>
    </ion-header-bar>
    <ion-content class="banktransfer">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">银行账号</div>
                <select id="bank_list" data-tap-disabled="true"
                        ng-options="bank.id as bank.name + '(' + bank.id + ')' for (id,bank) in banklist track by bank.id"
                        ng-model="query.bank_id" >
                </select>
            </div>
            <div class="item item-input">
                <div class="input-label">银行账户密码</div>
                <input type="password" ng-model="query.bank_password" placeholder="请输入银行账户密码">
            </div>
            <div class="item item-input">
                <div class="input-label">期货账户密码</div>
                <input type="password" ng-model="query.future_password" placeholder="请输入期货账户密码">
            </div>
            <div class="item item-input">
                <div class="input-label">转账金额</div>
                <input type="number" ng-model="query.amount" required placeholder="请输入转账金额">
            </div>
            <div class="item assertive" ng-if="query_error_msg">
                {{ query_error_msg }}
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-stable button-block" ng-click="transfer('IN')">银行转期货</button>
                    </div>
                    <div class="col">
                        <button class="button button-stable button-block" ng-click="transfer('OUT')">期货转银行</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
