<ion-view>
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-icon button-clear button-balance ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">反馈</h1>
    </ion-header-bar>
    <ion-content class="feedback">
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="请填写您的建议或意见。"></textarea>
            </label>
            <button class="button button-block button-calm">提交</button>
            <div>客服联系电话: 1234567890</div>
        </div>
    </ion-content>
</ion-view>
