<ion-view>
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons nav-bar-left"></div>
        <h1 class="title">众期货</h1>
        <div class="buttons nav-bar-right"></div>
    </ion-header-bar>
    <ion-content class="home">
        <div class="ads" style="height: 160px">
            <ion-slides options="options" slider="data.slider">
                <ion-slide-page style="background-color: blue">
                    <div class="box blue">
                        <h1>BLUE</h1></div>
                </ion-slide-page>
                <ion-slide-page style="background-color: green">
                    <div class="box yellow">
                        <h1>GREEN</h1></div>
                </ion-slide-page>
                <ion-slide-page style="background-color: pink">
                    <div class="box pink">
                        <h1>PINK</h1></div>
                </ion-slide-page>
            </ion-slides>
        </div>
        <div class="row">
            <div class="col"><img src="css/label_icon/blue-a.svg" width="100%" height="100%" alt="blue-a"></div>
            <div class="col"><img src="css/label_icon/red-a.svg" width="100%" height="100%" alt="red-a"></div>
            <div class="col"><img src="css/label_icon/purple-a.svg" width="100%" height="100%" alt="purple-a"></div>
            <div class="col"><img src="css/label_icon/blue-b.svg" width="100%" height="100%" alt="blue-b"></div>
        </div>
        <div class="row">
            <div class="col"><img src="css/label_icon/red-b.svg" width="100%" height="100%" alt="red-b"></div>
            <div class="col"><img src="css/label_icon/blue-c.svg" width="100%" height="100%" alt="blue-c"></div>
            <div class="col"><img src="css/label_icon/red-c.svg" width="100%" height="100%" alt="red-c"></div>
            <div class="col"><img src="css/label_icon/purple-b.svg" width="100%" height="100%" alt="purple-b"></div>
        </div>
    </ion-content>
</ion-view>
