<ion-view>
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-clear"><i class="icon ion-ios-arrow-thin-left"></i></button>
        </div>
        <h1 class="title">{{ins_id}}({{ins_name}})</h1>
    </ion-header-bar>
    <ion-content class="makeorder">
        <ion-scroll direction="x" style="width:100%;height: 45px" has-bouncing="false" delegate-handle="positionsHandle">
            <div class="pos-group" style="width:0px;height: 45px"></div>
        </ion-scroll>
        <div class="price-label row">
            <div class="col">
                <button class="button button-block BUY" ng-click="getPrice('bid_price1')">
                    <div>买价</div>
                    <div class="bid_price1"></div>
                </button>
            </div>
            <div class="col">
                <button class="button button-block LAST" ng-click="getPrice('last_price')">
                    <div>最新价</div>
                    <div class="last_price"></div>
                </button>
            </div>
            <div class="col">
                <button class="button button-block SELL" ng-click="getPrice('ask_price1')">
                    <div>卖价</div>
                    <div class="ask_price1"></div>
                </button>
            </div>
        </div>
        <div class="price-input-group">
            <div class="price-input">
                <div>报单价格</div>
                <div>
                    <button class="button button-icon button-small button-lignt icon ion-minus" ng-click="changePrice
('minus')"></button>
                </div>
                <div>
                    <button class="button button-icon button-small button-lignt icon ion-plus" ng-click="changePrice('plus')"></button>
                </div>
                <div id="output-price" class="numeric-keyboard-input" numeric-keyboard-input type="price" ng-model="order.price" ng-bind="order.price"></div>
            </div>
            <div class="price-input">
                <div>报单手数</div>
                <div>
                    <button class="button button-icon button-small button-lignt icon ion-minus" ng-click="changeHands('minus')"></button>
                </div>
                <div>
                    <button class="button button-icon button-small button-lignt icon ion-plus" ng-click="changeHands('plus')"></button>
                </div>
                <div id="output-hands" class="numeric-keyboard-input" numeric-keyboard-input type="number" ng-model="order.hands" ng-bind="order.hands"></div>
            </div>
        </div>
        <div class="price-button row">
            <div class="col">
                <button class="button button-block" ng-click="insert_order('BUY')">买{{pos_direction=='SELL'?'平':'开'}}仓</button>
                <div ng-if='pos_direction!="SELL"'>预计成本: <span>{{ estimate.cost | number : fixed}}</span></div>
                <div ng-if='pos_direction=="SELL"'>预计获利: <span>{{ estimate.profit | number : fixed}}</span></div>
                <div ng-if='pos_direction=="SELL"'>释放资金: <span>{{ estimate.free | number : fixed}}</span></div>
            </div>
            <div class="col">
                <button class="button button-block" ng-click="insert_order('SELL')">卖{{pos_direction=='BUY'?'平':'开'}}仓</button>
                <div ng-if='pos_direction!="BUY"'>预计成本: <span>{{ estimate.cost | number : fixed}}</span></div>
                <div ng-if='pos_direction=="BUY"'>预计获利: <span>{{ estimate.profit | number : fixed}}</span></div>
                <div ng-if='pos_direction=="BUY"'>释放资金: <span>{{ estimate.free | number : fixed}}</span></div>
            </div>
        </div>
        <ion-scroll direction="y" style="width:100%" has-bouncing="false" cal-height>
            <div class="order-list list"></div>
        </ion-scroll>
        <numeric-keyboard></numeric-keyboard>
    </ion-content>
</ion-view>
