<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="false">
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content style="padding-top: 44px">
            <div class="list list-borderless">
                <!--<a menu-toggle class="item item-icon-left item-dark" href="#/app/tabs/home">
                    <i class="icon ion-home"></i> 首页
                </a>-->
                <a menu-toggle class="item item-icon-left item-dark" href="#/app/tabs/quote">
                    <i class="icon ion-stats-bars"></i> 行情
                </a>
                <a menu-toggle class="item item-icon-left item-dark" href="#/app/tabs/position">
                    <i class="icon ion-person"></i> 账户
                </a>
                <a menu-toggle class="item item-icon-left item-dark" href="#/app/tabs/transaction">
                    <i class="icon ion-person"></i> 历史
                </a>
                <a menu-toggle class="item item-icon-left item-dark" href="#/app/banktransfer">
                    <i class="icon ion-person"></i> 银期转账
                </a>
                <!--<a menu-toggle class="item item-icon-left item-dark" href="#/app/tabs/community">
                    <i class="icon ion-chatboxes"></i> 公会
                </a>-->
                <!--<div class="item"></div>
                <a menu-toggle class="item item-icon-left item-dark" href="#/app/feedback">
                    <i class="icon ion-reply"></i> 反馈
                </a>-->
                <!--<a menu-toggle class="item item-icon-left item-dark" href="#/app/help">
                    <i class="icon ion-help-circled"></i> 帮助
                </a>-->
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>