<ion-view>
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-clear">
                <i class="icon ion-ios-arrow-thin-left"></i>
            </button>
        </div>
        <h1 class="title">{{ins_id_show}}({{ins_name}})</h1>
        <div class="buttons">
            <div>
                <button class="button" ng-click="btn.toggleCustom()">
                    {{btn.text}}
                </button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="posdetail" scroll="false">
        <div class="chart button-bar">
            <button class="button button-small button-dark" ng-class="{checked: chart.type=='TODAY'}" ng-click="switchType('chart','TODAY')">当日</button>
            <button class="button button-small button-dark" ng-class="{checked: chart.type=='D1'}" ng-click="switchType('chart','D1')">日线</button>
            <button class="button button-small button-dark" ng-class="{checked: chart.type=='H1'}" ng-click="switchType('chart','H1')">小时</button>
            <button class="button button-small button-dark" ng-class="{checked: chart.type=='M5'}" ng-click="switchType('chart','M5')">5分钟</button>
            <button class="button button-small button-dark" ng-click="openPopover('setting')">设置</button>
        </div>
        <div class="chart container" cal-chart-height>
        </div>
        <div class="panel button-bar" cal-btnbar-top>
            <button class="button button-small button-dark" ng-class="{checked: panel.type=='info'}" ng-click="switchType('panel','info')">信息</button>
            <button class="button button-small button-dark" ng-class="{checked: panel.type=='discuss'}" ng-click="switchType('panel','discuss')">持仓</button>
            <button class="button button-small button-dark" ng-class="{checked: panel.type=='plan'}" ng-click="switchType('panel','plan')">委托</button>
            <button class="button button-small button-dark" ng-class="{checked: panel.type=='tools'}" ng-click="switchType('panel','tools')">交易</button>
        </div>
        <ion-scroll direction="y" style="width:100%;" has-bouncing='false' cal-height>
            <div class="panel-container info flex" ng-if="panel.type=='info'">
                <div class="frame frame-left">
                    <div class="row">
                        <div class="col col-50">涨跌</div>
                        <div class="col col-50 change"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">涨跌幅</div>
                        <div class="col col-50 change_percent"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">合约乘数</div>
                        <div class="col col-50 ">{{insObj.volume_multiple}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">价格单位</div>
                        <div class="col col-50 ">{{insObj.price_tick}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">退市日期</div>
                        <div class="col col-50 ">{{insObj.expire_date}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">每手保证金</div>
                        <div class="col col-50">{{insObj.margin}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">每手手续费</div>
                        <div class="col col-50">{{insObj.commission}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">交易时间</div>
                        <div class="col col-50">{{insObj.trading_time}}</div>
                    </div>
                </div>
                <div class="frame frame-right">
                    <div class="row">
                        <div class="col col-50">昨收盘</div>
                        <div class="col col-50 pre_close"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">今开盘</div>
                        <div class="col col-50 open"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">涨停价</div>
                        <div class="col col-50 upper_limit"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">今最高</div>
                        <div class="col col-50 highest"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">卖一价</div>
                        <div class="col col-50 bid_price1"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">最新价</div>
                        <div class="col col-50 last_price"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">买一价</div>
                        <div class="col col-50 ask_price1"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">今最低</div>
                        <div class="col col-50 lowest"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">跌停价</div>
                        <div class="col col-50 lower_limit"></div>
                    </div>
                </div>
            </div>
            <div class="panel-container discuss" ng-if="panel.type=='discuss'">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th width="12%">合约</th>
                            <th width="8%">多空</th>
                            <th width="10%">手数</th>
                            <th width="20%">开仓均价</th>
                            <th width="20%">持仓盈亏</th>
                            <th width="30%">平仓</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="panel-container plan" ng-if="panel.type=='plan'">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th width="15%">合约</th>
                            <th width="20%">状态</th>
                            <th width="10%">开平</th>
                            <th width="15%">委托价</th>
                            <th width="10%">数量</th>
                            <th width="10%">时间</th>
                            <th width="20%">撤单</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="panel-container flex tools" ng-if="panel.type=='tools'">
                <div class="frame frame-left">
                    <div class="row">
                        <div class="col col-20" style="line-height: 32px;">价格</div>
                        <div class="col col-80">
                            <div class="price-input">
                                <div id="output-price" class="numeric-keyboard-input" numeric-keyboard-input
                                     type="price" ng-model="order.price" ng-bind="order.price"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-20" style="line-height: 32px;">手数</div>
                        <div class="col col-80">
                            <div class="price-input">
                                <div id="output-hands" class="numeric-keyboard-input" numeric-keyboard-input
                                     type="number" ng-model="order.volume" ng-bind="order.volume"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame frame-right">
                    <div class="row">
                        <div class="col col-20">新</div>
                        <div class="col col-40 last_price"></div>
                        <div class="col col-40 volume"></div>
                    </div>
                    <div class="row">
                        <div class="col col-20">卖</div>
                        <div class="col col-40 ask_price1"></div>
                        <div class="col col-40 ask_volume1"></div>
                    </div>
                    <div class="row">
                        <div class="col col-20">买</div>
                        <div class="col col-40 bid_price1"></div>
                        <div class="col col-40 bid_volume1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding:0 10px">
                        <button class="button button-block button-assertive" ng-click="insert_order('OPEN','BUY')">
                            <div>买多</div>
                        </button>
                    </div>
                    <div class="col" style="padding:0 10px">
                        <button class="button button-block button-balanced" ng-click="insert_order('OPEN','SELL')">
                            <div>卖空</div>
                        </button>
                    </div>
                    <div class="col" style="padding:0 10px">
                        <button class="button button-block button-light " ng-if="buy_close_avaliable" ng-click="insert_order('CLOSE', 'BUY')">
                            <div>买平</div>
                        </button>
                        <button class="button button-block button-light " ng-if="sell_close_avaliable" ng-click="insert_order('CLOSE', 'SELL')">
                            <div>卖平</div>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </ion-scroll>
        <numeric-keyboard on-open="open_cb()" on-close="close_cb()"></numeric-keyboard>
    </ion-content>
    <script type="text/ng-template" id='chart-popover.html'>
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">设置</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">
                    <li class="item item-toggle">显示持仓
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="setting.showPositions">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">显示挂单
                        <label class="toggle toggle-balance">
                            <input type="checkbox" ng-model="setting.showOrders">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
            </ion-content>
        </ion-popover-view>
    </script>
    <script type="text/ng-template" id='other-pos-popover.html'>
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">设置</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">
                    <li class="item item-toggle">显示持仓
                        <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="setting.showPositions">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                    </li>
                    <li class="item item-toggle">显示挂单
                        <label class="toggle toggle-balance">
                    <input type="checkbox" ng-model="setting.showOrders">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                    </li>
                </ul>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>
