<ion-tabs class="tabs-icon-top tabs-dark tabs-color-mark">
    <!--<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/tabs/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="行情" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tabs/quote">
        <ion-nav-view name="tab-quote"></ion-nav-view>
    </ion-tab>
    <ion-tab title="账户" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/tabs/position">
        <ion-nav-view name="tab-position"></ion-nav-view>
    </ion-tab>
    <ion-tab title="历史" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/app/tabs/transaction">
        <ion-nav-view name="tab-transaction"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="圈子" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/tabs/community">
        <ion-nav-view name="tab-community"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>