<ion-view class="userinfo">
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-clear"><i class="icon ion-ios-arrow-thin-left"></i></button>
        </div>
        <h1 class="title" ng-style="{left:0,right:0}">{{login_data.bid}}</h1>
    </ion-header-bar>
    <ion-content class="userinfo sim">
        <div class="content" ng-if='login_data.state != "success"'>
            <div class="list header">
            </div>
            <div class="panel login">
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label">
                            选择期货公司
                        </span>
                        <select ng-options="broker for broker in brokers track by broker"
                                ng-disabled='login_data.state == "success"'
                                ng-model="login_data.bid" >
                        </select>
                    </label>
                    <label class="item item-input"><span class="input-label">账号</span>
                        <input type="tel" placeholder="请输入账号" autocomplete="off" name="user_name" required
                               ng-click="login_error=false"
                               ng-disabled='login_data.state == "success"'
                               ng-model="login_data.user_name">
                    </label>
                    <label class="item item-input"><span class="input-label">密码</span>
                        <input type="password" placeholder="请输入密码" autocomplete="off" name="password" required
                               ng-click="login_error=false"
                               ng-disabled='login_data.state == "success"'
                               ng-model="login_data.password">
                    </label>
                </div>
                <div class="list error" ng-if="login_error">{{ login_error_msg }}</div>
                <div class="row">
                    <div class="col">
                        <button class="right button button-block"
                                ng-disabled='login_data.state == "success"' ng-click="click_login()">
                            登录
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-if='login_data.state == "success"'>
            <div class="list header">
            </div>
            <div class="list account_info">
                <div class="item item-divider">
                    日期<span class="item-note trading_day"></span>
                </div>
                <div class="item ">
                    上一日账户权益<span class="item-note pre_balance"></span>
                </div>
                <div class="item">
                    <div>+ 入金金额<span class="item-note deposit"></span></div>
                    <div>- 出金金额<span class="item-note withdraw"></span></div>
                    <div>+ 平仓盈亏<span class="item-note close_profit"></span></div>
                    <div>- 手续费<span class="item-note commission"></span></div>
                    <div>- 期权权利金<span class="item-note premium"></span></div>
                </div>
                <div class="item ">
                    = 静态权益<span class="item-note static_balance"></span>
                </div>
                <div class="item">
                    <div>+ 持仓盈亏<span class="item-note position_profit"></span></div>
                </div>
                <div class="item ">
                    = 动态权益<span class="item-note balance"></span>
                </div>
                <div class="item">
                    <div>- 占用保证金<span class="item-note margin"></span></div>
                    <div>- 冻结保证金<span class="item-note frozen_margin"></span></div>
                    <div>- 冻结手续费<span class="item-note frozen_commission"></span></div>
                    <div>- 冻结权利金<span class="item-note frozen_premium"></span></div>
                </div>
                <div class="item">
                    = 可用资金<span class="item-note available"></span>
                </div>
                <div class="item">
                    风险度<span class="item-note risk_ratio"></span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
