<ion-view class="userinfo">
    <ion-header-bar class="bar bar-dark" align-title="center">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-clear"><i class="icon ion-ios-arrow-thin-left"></i></button>
        </div>
        <h1 class="title">{{login_data.bid}}</h1>
    </ion-header-bar>
    <ion-content class="userinfo sim">
        <div class="content" ng-if='login_data.state != "success"'>
            <div class="list header">
            </div>
            <div class="panel login">
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label">
                            选择期货公司
                        </span>
                        <select  data-tap-disabled="true"
                                ng-options="broker for broker in brokers track by broker"
                                ng-disabled='login_data.state == "success"'
                                ng-model="login_data.bid" >
                        </select>
                    </label>
                    <label class="item item-input"><span class="input-label">账号</span>
                        <input type="tel" placeholder="请输入账号" autocomplete="off" name="user_name" required
                               ng-click="login_error=false"
                               ng-disabled='login_data.state == "success"'
                               ng-model="login_data.user_name">
                    </label>
                    <label class="item item-input"><span class="input-label">密码</span>
                        <input type="password" placeholder="请输入密码" autocomplete="off" name="password" required
                               ng-click="login_error=false"
                               ng-disabled='login_data.state == "success"'
                               ng-model="login_data.password">
                    </label>
                </div>
                <div class="list error" ng-if="login_data.error_msg">{{ login_data.error_msg }}</div>
                <div class="row">
                    <div class="col">
                        <button class="right button button-block"
                                ng-disabled='login_data.state == "success"' ng-click="click_login()">
                            登录
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-if='login_data.state == "success"'>
            <div class="list header">
            </div>
            <div class="list account_info">
                <table width="100%">
                    <tr class="border-top border-bottom">
                        <td>日期</td>
                        <td class="datacontent trading_day"></td>
                    </tr>
                    <tr class="border-top border-bottom">
                        <td>上一日账户权益</td>
                        <td class="datacontent pre_balance"></td>
                    </tr>
                    <tr class="border-top">
                        <td>+ 入金金额</td>
                        <td class="datacontent deposit"></td>
                    </tr>
                    <tr>
                        <td>- 出金金额</td>
                        <td class="datacontent withdraw"></td>
                    </tr>
                    <tr>
                        <td>+ 平仓盈亏</td>
                        <td class="datacontent close_profit"></td>
                    </tr>
                    <tr>
                        <td>- 手续费</td>
                        <td class="datacontent commission"></td>
                    </tr>
                    <tr class="border-bottom">
                        <td>- 期权权利金</td>
                        <td class="datacontent premium"></td>
                    </tr>
                    <tr class="border-top border-bottom">
                        <td>= 静态权益</td>
                        <td class="datacontent static_balance"></td>
                    </tr>
                    <tr class="border-top border-bottom">
                            <td>+ 持仓盈亏</td>
                            <td class="datacontent position_profit"></td>
                        </tr>
                        <tr class="border-top border-bottom">
                                <td>= 动态权益</td>
                                <td class="datacontent balance"></td>
                            </tr>
                    <tr class="border-top">
                        <td>- 占用保证金</td>
                        <td class="datacontent margin"></td>
                    </tr>
                    <tr>
                        <td>- 冻结保证金</td>
                        <td class="datacontent frozen_margin"></td>
                    </tr>
                    <tr>
                        <td>- 冻结手续费</td>
                        <td class="datacontent frozen_commission"></td>
                    </tr>
                    <tr class="border-bottom">
                        <td>- 冻结权利金</td>
                        <td class="datacontent frozen_premium"></td>
                    </tr>
                    <tr class="border-top border-bottom">
                        <td>= 可用资金</td>
                        <td class="datacontent available"></td>
                    </tr>
                    <tr class="border-top border-bottom">
                            <td>风险度</td>
                            <td class="datacontent risk_ratio"></td>
                        </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>
