<ion-view class="userinfo">
    <ion-header-bar class="bar bar-dark" align-title="center">
        <!-- <div class="buttons nav-bar-left"></div> -->
        <div class="buttons">
            <button ng-click="goBack()" class="button button-clear"><i class="icon ion-ios-arrow-thin-left"></i></button>
        </div>
        <h1 class="title">{{content.title}}</h1>
    </ion-header-bar>
    <ion-content class="userinfo" scroll="false" ng-class="login_params.type">
        <div class="bg"></div>
        <div class="content">
            <div class="list header">
                <img class="logo" src="img/logo.png">
            </div>
            <div class="panel login">
                <div class="list" ng-if="login_params.type=='sim'">
                    <label class="item item-input item-stacked-label"><span class="input-label">账号</span>
                        <input type="tel" placeholder="请输入账号" autocomplete="off" name="mobile" required ng-click="login_error=false" ng-model="login_states.mobile">
                    </label>
                    <label class="item item-input item-stacked-label"><span class="input-label">模拟密码</span>
                        <input type="password" placeholder="请输入密码" autocomplete="off" name="sim_password" required ng-click="login_error=false" ng-model="login_states.sim_password">
                    </label>
                </div>
                <div class="list error" ng-if="login_error">{{ login_error_msg }}</div>
                <div class="row">
                    <div class="col">
                        <button class="right button button-block" ng-disabled='login_params.type == login_states.type' ng-click="click_login()">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>